@import "../helpers/variables.scss";
@import "../helpers/mixins.scss";

footer {
  padding-bottom: 2.5rem;
  @media screen and (min-width: $breakpoint-xl) {
    padding-bottom: 5rem;
  }

  .custom-logo{
    width: 18.75rem;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $breakpoint-xl) {
      width: 25rem;
    }
  }

  .footer--nav .main-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.25rem;
    margin-top: 1.5625rem;

    a{
      color: $fColor;
      text-transform: uppercase;
      font-weight: 900;
      font-family: $font-rubik;
    }

    @media screen and (min-width: $breakpoint-xl) {
      flex-direction: row;
      column-gap: 1.25rem;
    }
  }
  
}
.copyright{
  margin-top: 2.1875rem;
  font-size: 0.75rem;
  color: $white;
  a{
    color: $white;
  }
}

.scroll-top-icon .icon{
  background-position: center;
  cursor: pointer;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  width: 2.1875rem;
  height: 2.1875rem;
  object-fit: contain;
  z-index: 50;

  @media screen and (min-width: $breakpoint-xl) {
    right: 40px;
    bottom: 80px;
  }
}



